.vuetify-styles .v-text-field input {
  box-shadow: unset;
}

div.jupyter_container.docutils {
  padding: 0.4em;
}

/* Hero from Homepage */
#hero {
  display: flex;
  flex-direction: row;
  min-height: min(calc(80vh), 1100px);
}

#hero img {
  border: 1px solid var(--pst-color-border);
  border-radius: 0.25em;
}

#hero-left {
  max-width: 476px;
  width: 40%;
  margin: auto 1em;
}

#hero-right {
  min-width: 476px;
  width: 60%;
  margin: auto 1em;
}

/* customize primary color to align with the vuetify website */
html[data-theme="light"] {
  --pst-color-primary: #1867c0;
}

html[data-theme="dark"] {
  --pst-color-primary: #1697f6;
}

/*******************************************************************************
* Create a custom api admonition
*/
div.admonition.admonition-api > .admonition-title::after {
  content: "\f121"; /* the fa-code icon */
}

/*******************************************************************************
* Customize the font used by the title to make it look like the original lib
*/
.title.logo__title {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*******************************************************************************
* custom article footer rendering
*/
footer.bd-footer-article {
  background-color: transparent;
  border-top: 1px solid var(--pst-color-border);
  margin-top: 2em;
}

.bd-footer-article .footer-article-items {
  flex-direction: row;
}

.bd-footer-article .footer-article-items .footer-article-item {
  flex-grow: 1;
}

.bd-footer-article .last-updated {
  color: var(--pst-color-text-muted);
  text-align: right;
}

/*******************************************************************************
* add dollar sign in console code-block
*/
div.highlight-console pre span.go::before {
  content: "$";
  margin-right: 10px;
  margin-left: 5px;
}

/*******************************************************************************
* custom loader animation
*/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.custom-loader {
  display: flex;
  animation: spin 1s linear infinite;
}
